<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/9686b7ca-712b-4a78-9f16-149a8321d3dd/resourceGroups/AzureFreeRG/providers/Microsoft.Web/sites/dotnetreactwebsitebackend</ResourceId>
    <ResourceGroup>AzureFreeRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dotnetreactwebsitebackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f60341a0-d302-4b6e-b21e-c5f8f7fcfbe3</ProjectGuid>
    <PublishUrl>https://dotnetreactwebsitebackend.scm.azurewebsites.net/</PublishUrl>
    <UserName>$dotnetreactwebsitebackend</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>